@import url("https://kit.fontawesome.com/c447c2285e.js");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0, 0.1);
}

.container .resume_left {
    position: relative;
    background: lightseagreen;
    padding: 40px;
    color: black;
}

.img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110%;
}

.text .name {
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
    font-weight: 510;
    color: black;
}

.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;
}

.skill>p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}

.skill:before {
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 5px;
    background: black;
    display: block;
    position: relative;
}


/* SKILL 1 */

.skill1 {
    width: 95%;
}

.skill-bar span {
    position: absolute;
    border-top: 5px solid grey;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

.skill-bar {
    position: relative;
}

.skill1 .skill-count1 {
    right: 0;
}


/* SKILL 2 */

.skill2 {
    width: 85%;
}

.skill2 .skill-count2 {
    right: 0;
}


/* SKILL 3 */

.skill3 {
    width: 75%;
}

.skill3 .skill-count3 {
    right: 0;
}

.container .resume_right {
    position: relative;
    background: #fff;
    padding: 40px;
}